.text {
    font-size: 0.8em;
    width: 300px;
    background-color: #0066DD; 
    margin: auto;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #0099FF;
    text-align: left;
    color: #ffffff;
    position:absolute;
}        
            
#open {
    opacity: 0.4;
    background-color: #888;
    cursor: pointer;
    position:fixed;left:0;top:0;z-index:1000; width:18px; height:18px;
    padding: 2px;
    font-weight: bolder;
}
#open:hover {
    opacity: 0.8;         
}
body { overflow: hidden; }